.quote {
    text-align: center;
    padding: 52px 0;
}

.post {
    padding-bottom: 550px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.post.post-md {
    padding-bottom: 350px;
}

.post-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.category-name {
    background-color: var(--main-color);
    display: inline-block;
    padding: 4px 16px;
    font-size: 12px;
    color: #fff;
    margin-bottom: 8px;
}

.post-content .text {
    color: #fff;
    padding-bottom: 24px;
}

.post-content a {
    color: #fff;
    padding-bottom: 1px;
    display: inline-block;
    border-bottom: 1px solid #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.post-content a:hover {
    color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.section {
    padding: 50px 20px;
}

.about h5, .about p {
    color: #000;
    text-align: center;
}

.about h5 {
    margin: 20px 0;
}

.about h5:hover {
    color: var(--main-color);
}

.contact h5, .contact p {
    color: #fff;
}

.contact h5 {
    margin: 20px 0;
    display: inline-block;
}

.contact h5:hover {
    color: var(--main-color);
}

.img-box {
    height: 600px;
}

.map {
    height: 400px;
    margin: 20px 0;
}

.card-img-box {
    height: 300px;
}

.card-title a {
    height: 70px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.card-text {
    height: 70px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}